/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", sans-serif;
    background-color: #021327;
    color: #333;
    background-size: cover;
    background-position: center;
    background-image: url('PATH_TO_IMAGE'); /* TODO add image if desired.  */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: Makes the background image fixed during scroll */
}

header {
    display: flex;
    flex-direction: column; /* Stack the logo container and text vertically */
    align-items: center; /* Center-align the items for a neat look */
    text-align: center; /* Ensure text is centered under the logos */
    padding: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.logo-container {
    display: flex; /* Apply Flexbox for the logos */
    justify-content: center; /* Center the logos horizontally */
    align-items: center; /* Align the logos vertically */
    width: 100%; /* Ensure the container spans the full header width */
}

.animated-logo {
    max-width: 20%;
    justify-content: left;
    display: block;
    margin: auto; /* Center the logo if it's not already */
    animation: wobbleLogo 5.5s infinite ease-in-out; /* Adjust the animation speed */
}

.logo-banner {
    max-width: 80%; /* Adjust based on your logo sizes */
    height: auto;
    margin: 0 10px; /* Add some space between the logos */
    justify-content: right;
}

.header-text {
    margin-top: 20px; /* Add some space between the logos and the text */
}

.header-text p {
    color: #f1e7fd; /* Sets the text color */
    font-size: 16px; /* Sets the font size */
    margin-bottom: 20px; /* Adds space below the paragraph */
    line-height: 1.5; /* Adjusts the line height for better readability */
}

h1 {
    color: #007bff; /* TODO: Adjust to a brand color */
}

.form-container {
    margin-bottom: 20px;
}

.result-section {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 20px;
}

.google-form-embed iframe {
    width: 100%; /* Responsive width */
    height: 600px; /* Fixed height, or adjust as needed */
    border: none; /* Removes the border */
    margin: 0; /* Adjusts margin */
}

/* Responsive adjustments for mobile devices*/
@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    .company-logo {
        max-width: 80px; /* Slightly smaller logo for smaller screens */
    }

    .google-form-embed iframe {
        width: 100%!important; /* Make the Google Form iframe fully responsive */
        height: 500px; /* Adjust height as needed */
    }

    header, .form-container, .result-section {
        padding: 10px;
        text-align: center; /* Center align text for better readability on small screens */
    }

    form textarea, form button {
        width: 100%; /* Full-width form elements */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    .company-logo {
        max-width: 60px; /* Even smaller logo for very small screens */
    }
    
    .google-form-embed iframe {
        height: 400px; /* Shorter form for very small screens */
    }
}

@keyframes wobbleLogo {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
  }